<html>
  <head>
    <title>Themis Clusters</title>
    <style type="text/css" media="screen">
      th {
      background: #0000ff;
      color: #ffffff;
      }
      .button_wrapper {
      text-align: center;
      }
    </style>
    <script src="/static/sorttable.js"></script>
  </head>
  <body>
    <h1>Error</h1>
    {{error}}
    <br\><br\>
    <a href="/">Back to Cluster Listing</a>
  </body>
</html>
