<html>
  <head>
    <title>HDFS Proxy Status</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Proxied Path</th>
        <th>Unproxied Path</th>
      </tr>
      {% for proxied_path, unproxied_path in paths | dictsort %}
      <tr>
        <td>{{ proxied_path }}</td>
        <td>{{ unproxied_path }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
