=====
Job: {{ job }}
Phase: {{ phase }}
=====

Write Size Statistics:
Min: {{ min / 1000000.0 }} MB
Mean: {{ mean / 1000000.0 }} MB
Median: {{ median / 1000000.0 }} MB
Standard Deviation: {{ stddev / 1000000.0 }} MB
Max: {{ max / 1000000.0 }} MB
Skewness: {{ skewness }} B
Excess Kurtosis: {{ excess_kurtosis }} B

